<html>
    <head>
        <title>Web Crawler by Python</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Raleway:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script type="text/javascript">
        
module='\
<div class="col-12 col-md-6 col-xl-4" style="margin-bottom:25px;">\
    <div class="row">\
        <div class="col-5 col-md-6">\
            <div style="height:240px;width:100%;background-color:#EAEAEA;background-image:url([IMG]);background-size:cover"></div>\
        </div>\
        <div class="col-7 col-md-6">\
            <p><span style="color:#E86;font-size:18px;font-family:Raleway;"><strong>[TITLE]</strong></span></p>\
            <p><span style="color:#66E;">[PRICE]</span></p>\
            <p style="font-size:12px;">[DESC]</p>\
        </div>\
    </div>\
</div>\
'

data = []
npp = 20
    
function page(p) {
    
    t = p - 4
    if(t<0) t = 0
    
    html = ''
    
    for(i=t; i<t+9; i++) {
        html+='<li class="page-item"><a class="page-link" href="javascript:page(' + (i).toString() +');">' + (i+1).toString() + '</a></li>';  
    }
    
    $('.pagination').html(html)
    
    html = ''
    for(i=p*npp; i<(p+1)*npp; i++) {
        
        if (i>=data.length) break
        
        html += module.replace('[IMG]', data[i].image_url)
            .replace('[TITLE]', data[i].title)
            .replace('[PRICE]', data[i].price)
            .replace('[DESC]', data[i].description.substr(0,256) + ' ...')
    }

    $('#div_books').html(html)
}

function update() {
    $.getJSON('/api/finder?title=' + $('#title').val(), function(d) {
        
        data = d
        page(0)
    })
}
    
$(function() {
    $('#myModal').modal({})
    
    $('#btSubmit').click(function() {
        $('#myModal').modal('hide')
        update()
    });
})
        
        
</script>
    </head>

    <body>
        <section id="header" style="margin-bottom:25px;">
            <div class="container" style="margin-bottom:10px;">
                <div class="text-center" style="font-family: 'DM Serif Display';">
                    <div class="d-none d-xl-block" style="font-size:64px;">Web Crawler by Python</div>
                    <div class="d-none d-lg-block d-xl-none" style="font-size:48px;">Web Crawler by Python</div>
                    <div class="d-none d-md-block d-lg-none" style="font-size:36px;">Web Crawler by Python</div>
                    <div class="d-sm-block d-md-none" style="font-size:28px;">Web Crawler by Python</div>
                </div>
            </div>
            
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                  Search
                </button>
            </div>
        </section>
        
        
        <section>
            <div class="container">
                <div class="row" id="div_books">
                
                </div>
            </div>
        </section>
        

        <nav aria-label="Page navigation example">
          <ul class="pagination pagination justify-content-center">

          </ul>
        </nav>
        
        <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search for books</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                    
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" value="">
                    </div>
                  </div>
                  
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btSubmit" type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        
    </body>
</html>